.page {
    background-color: #fff;
	box-shadow: 0 200px #fff;
	margin-left: 1rem;
	margin-right: 1rem;
}
.content {
    padding-bottom: .1px;
    background-color: #f6f7f9;
}
.advise {
	width:100%;
}
img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.head {
    position: relative;
    box-sizing: border-box;
    height: 2.75rem;
    padding-top: .6875rem;
    padding-bottom: .625rem;
    border-bottom: 1px solid #f0f1f2;
    background-color: #fff;
}
.logo-a {
    position: absolute;
    left: 0;
    width: 5.625rem;
	padding: 0 1rem;
	font-size: 1rem;
	height: 1.125rem;
}
.logo {
    font-size: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    width: inherit;
    height: 1.125rem;
    margin: auto;
}
.header-operate {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: .25rem .375rem;
}
.header-operate-a, .header-operate>.icon {
    float: left;
    overflow: hidden;
    width: 2.25rem;
    height: 2.25rem;
}