.page {
    background-color: #fff;
    box-shadow: 0 200px #fff;
}
.content {
    padding-bottom: .1px;
    background-color: #f6f7f9;
}
.advise {
	width:100%;
}
img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}