<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8">
<title>Vue 示例</title>
</head> 
<body> 
<div id="app">
    <div v-if="flag">{{now}}</div>
    <div>{{now1()}}</div>
</div> 
<script src="../js/vue.min.js"></script> 
<script> 
    var app =new Vue({ 
    el :'#app', 
    data: {
        picked:"js",
        flag:true
    },
    methods:{
        now1:function(){
            return Date.now();
        }
    },
    computed:{
        now:function(){
            console.log(Date.now());
            return Date.now();
        }
    }
});
setTimeout(function(){
    app.flag=false;
},5000);
setTimeout(function(){
    app.flag=true;
},10000);
</script> 
</body> 
</html> 