<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8">
<title>Vue 示例</title>
</head> 
<body> 
<div id="app">
    <ul>
        <template v-for="book in filterBooks">
            <li>{{book.name}}</li>
            <li>{{book.author}}</li>
        </template>
    </ul>
    <ul>
        <template v-for="book in books">
            <li>{{book.name}}</li>
            <li>{{book.author}}</li>
        </template>
    </ul>
    <select v-model="picked" multiple>
        <option value="css">css</option>
        <option >html</option>
        <option >js</option>
    </select>
    <div>总数{{total}}<div>
    <my-component v-model="total"></my-component>
    <my-list :books="books">
        <template scope="props" slot="book">
            <li >{{props.bookName}}</li>
        </template>
    </my-list>
    <child-component>
        <template scope="props">
            <p>父组件的内容</p>
            <p>{{props.msg}}</p>
        </template>
    </child-component>
</div> 
<script src="../js/vue.min.js"></script> 
<script> 
Vue.component("my-component",{
        template:'<button @click="handleClick">+1</button>',
        data:function(){
            return {
                counter:0
            }
        },
        methods:{
            handleClick:function(){
                this.counter++;
                this.$emit("input",this.counter);
            }
        }
    })
    Vue.component("my-list",{
        props:{
            books:{
                type:Array,
                default:function(){
                    return []
                }
            }
        },
        template:'\
            <ul>\
                <slot name="book" v-for="book in books" :book-name="book.name"></slot>\
            </ul>'
    })
    Vue.component("child-component",{
         template:'\
            <div class="container">\
                <slot msg="来自子组件的内容"></slot>\
            </div>'
    })
    var app=new Vue({
        el:"#app",
        data:{
            books:[
                {name:"java",author:""},
                {name:"c++",author:""},
                {name:"javascript",author:""}
            ],
            picked:[
                'css','js'
            ],
            total:0
        },
        computed:{
            sortBooks:function(){
                return this.books.sort(function(a,b){
                    return a.name.length<b.name.length;
                });
            },
            filterBooks:function(){
                return this.books.filter(function(book){
                    return book.name.match(/javascript/);
                });
            }
        }
    })
</script> 
</body> 
</html> 