<!DOCTYPE html>
<html lang="cn-zh">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/video.css">
	<link href="../../css/iconfont.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class=""><h3>猫和老鼠</h3></div>
				<div class="video">
					<div id="video-zhezhao">
						<div class="iconfont" id="video-pause">&#xe61c;</div>
						<div></div>
					</div>
					<div id="danmu"></div>
					<div id="video-bar" class="video-bar">
						<div style="margin-left:10px;margin-right: 10px">
							<div class="progress progress-striped active">
								<div class="progress-bar progress-bar-danger" style="width:60%"></div>
							</div>
							<button  class="sj iconfont">&#xe615;</button>
							<button  class="sj iconfont">&#xe612;</button>
							<div id="time-Current-Text" class="sj"><span>36:10</span>/<span>60:18</span></div>
							<button  class="rsj iconfont">&#xe64e;</button>
							<button  class="rsj iconfont">&#xe605;</button>
						</div>
					</div>
					<video id="video" src="http://www.runoob.com/try/demo_source/movie.mp4"></video>
				</div>
			</div>
			<div class="col-md-2">
				
			</div>
		</div>	
	</div>		
		
</body>
<script data-main="../../js/video/main" src="../../plugs/js/require.js"></script>
<script>
</script>
</html>