<div class='duya-header-wrap'>
        <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                   　<!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
                     <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                       <span class="sr-only">Toggle Navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                     </button>
                     <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
                     <a href="##" class="navbar-brand">乐享We TV</a>
                </div>
                <!-- 屏幕宽度小于768px时，div.navbar-responsive-collapse容器里的内容都会隐藏，显示icon-bar图标，当点击icon-bar图标时，再展开。屏幕大于768px时，默认显示。 -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                      <ul class="nav navbar-nav">
                            <li class=""><a href="##">首页</a></li>
                            <li><a href="##">直播</a></li>
                            <li class="dropdown">
                                    <a href="##" class="dropdown-toggle" data-toggle="dropdown">分类<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="##">电影</a></li>
                                      <li><a href="##">电视剧</a></li>
                                      <li><a href="##">music</a></li>
                                      <li><a href="##">综艺</a></li>
                                    </ul>
                            </li>
                            <li><div class="search_box">
                                    <div class="search_input kh_search">
                                        <i class="icon"></i>
                                        <input type="text" placeholder="斗破苍穹">
                                    </div>
                                </div>
                            </li>
                            
                       </ul>
                       <ul class="nav navbar-nav" style="float:right">
                            <li><a href="##"><div class='iconfont' style="float:left">&#xe62f;</div>历史</a></li>
                            <li><a href="##"><div class='iconfont' style="float:left">&#xe60f;</div>登陆</a></li>
                       </ul>
                </div>
              </div>
</div>