<!DOCTYPE html>
<html lang="cn-zh">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/video.css">
	<link href="../../css/iconfont.css" rel="stylesheet">
	<link href="../../css/header.css" rel="stylesheet">
	<link href="../../css/footer.css" rel="stylesheet">
</head>
<body>
	<div class="container header">
		<div class='duya-header-wrap'>
			<div class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
					   　<!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
						 <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						   <span class="sr-only">Toggle Navigation</span>
						   <span class="icon-bar"></span>
						   <span class="icon-bar"></span>
						   <span class="icon-bar"></span>
						 </button>
						 <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
						 <a href="##" class="navbar-brand">乐享We TV</a>
					</div>
					<!-- 屏幕宽度小于768px时，div.navbar-responsive-collapse容器里的内容都会隐藏，显示icon-bar图标，当点击icon-bar图标时，再展开。屏幕大于768px时，默认显示。 -->
					<div class="collapse navbar-collapse navbar-responsive-collapse">
						  <ul class="nav navbar-nav">
								<li class=""><a href="##">首页</a></li>
								<li><a href="##">直播</a></li>
								<li class="dropdown">
										<a href="##" class="dropdown-toggle" data-toggle="dropdown">分类<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="##">电影</a></li>
										  <li><a href="##">电视剧</a></li>
										  <li><a href="##">music</a></li>
										  <li><a href="##">综艺</a></li>
										</ul>
								</li>
						   </ul>
						   <div class="search_box">
							<div class="search_input kh_search">
								<i class="icon"></i>
								<input type="text" placeholder="斗破苍穹">
							</div>
						</div>
						   <ul class="nav navbar-nav" style="float:right">
								<li><a href="##"><div class='iconfont' style="float:left">&#xe62f;</div>历史</a></li>
								<li><a href="##"><div class='iconfont' style="float:left">&#xe60f;</div>登陆</a></li>
						   </ul>
					</div>
				  </div>
	</div>
	</div>
	<div class="container content"></div>
	<div class="container footer">
		<div class="mod_footer" style="text-align: center;"><!--placeholder-->
			<div class="footermenu">
				<a href="http://www.tencent.com/" rel="nofollow" target="_blank">关于乐享</a> | <a href="http://www.tencent.com/index_e.shtml" rel="nofollow" target="_blank">About Tencent</a> | <a href="http://www.qq.com/contract.shtml" rel="nofollow" target="_blank">服务条款</a> | <a href="http://www.tencentmind.com/" rel="nofollow" target="_blank">广告服务</a> | <a href="http://hr.tencent.com/" rel="nofollow" target="_blank">乐享招聘</a> | <a href="http://kf.qq.com/product/QQlive.html" rel="nofollow" target="_blank">客服中心</a> | <a href="http://www.qq.com/map/" rel="nofollow" target="_blank">网站导航</a>
			</div>
			<div class="copyrighten">Copyright © 1998 - <span>2018</span> Tencent. <a target="_blank" href="http://www.tencent.com/en-us/le/copyrightstatement.shtml" rel="nofollow">All Rights Reserved.</a></div>
			<div class="copyrightzh">乐享公司 <a target="_blank" href="http://www.tencent.com/zh-cn/le/copyrightstatement.shtml" rel="nofollow">版权所有</a> <a target="_blank" href="http://www.tencent.com/law/mo_law.shtml?/law/copyright.htm" rel="nofollow">乐享网络文化经营许可证</a></div>
		</div>
	</div>		
		
</body>
<script data-main="../../js/main" src="../../plugs/js/require.js"></script>
<script>
</script>
</html>