<!DOCTYPE html>
<html lang="cn-zh">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/video.css">
	<link href="../../css/iconfont.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class=""><h3>西红柿首富</h3></div>
				<div class="video">
					<div id="video-zhezhao">
						<div class="iconfont"></div>
					</div>
					<div id="danmu"></div>
					<div id="video-bar" class="video-bar">
						<div style="margin-left:0px;margin-right: 0px">
							<div class="pro" style="height: 12px;padding:3px 0;cursor: pointer;">
								<div class="progress progress-striped active">
									<div class="progress-bar progress-bar-danger" style="width:0"></div>
									<div class="progress-bar  progress-bar-danger move"></div>
								</div>
							</div>
							<button  class="sj iconfont videobtn" data-type="play" id="play">&#xe615;</button>
							<button  class="sj iconfont videobtn" data-type="next">&#xe612;</button>
							<div id="time-Current-Text" class="sj"><span>00:00</span>/<span>00:00</span></div>
							<button  class="rsj iconfont videobtn" data-type="pull">&#xe64e;</button>
							<button  class="rsj iconfont videobtn" data-type="danmu">&#xe618;</button>
							<button  class="rsj iconfont videobtn" data-type="voice">&#xe644;</button>
							<button  class="rsj iconfont videobtn" data-type="download">&#xe6b0;</button>
						</div>
					</div>
					<video id="video" src="http://www.runoob.com/try/demo_source/movie.mp4"></video>
				</div>
			</div>
			<div class="col-md-2">
				
			</div>
		</div>	
	</div>		
		
</body>
<script data-main="../../js/video/main" src="../../plugs/js/require.js"></script>
<script>
</script>
</html>