<!DOCTYPE html>
<html lang="cn-zh">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/video.css">
	<link href="../../css/iconfont.css" rel="stylesheet">
	<link href="../../css/header.css" rel="stylesheet">
	<link href="../../css/footer.css" rel="stylesheet">
</head>
<body>
	<div class="container header"></div>
	<div class="container content"></div>
	<div class="container footer"></div>		
		
</body>
<script data-main="../../js/main" src="../../plugs/js/require.js"></script>
<script>
</script>
</html>