<div class="row" id="page-video">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class=""><h3>西红柿首富</h3></div>
        <div class="video">
            <div id="video-zhezhao">
                <div class="iconfont"></div>
            </div>
            <div id="danmu"></div>
            <div id="video-bar" class="video-bar">
                <div style="margin-left:0px;margin-right: 0px">
                    <div class="pro" style="height: 12px;padding:3px 0;cursor: pointer;position: absolute;bottom: 30px;width: 100%;overflow: hidden;">
                        <div class="progress progress-striped active">
                            <div class="progress-bar exist" style="width:0"></div>
                            <div class="progress-bar  move"></div>
                            <div class="progress-bar  buffer"></div>
                        </div>
                    </div>
                    <button  class="sj iconfont videobtn" data-type="play" id="play">&#xe615;</button>
                    <button  class="sj iconfont videobtn" data-type="next">&#xe612;</button>
                    <div id="time-Current-Text" class="sj"><span>00:00</span>/<span>00:00</span></div>
                    <button  class="rsj iconfont videobtn" data-type="pull">&#xe64e;</button>
                    <button  class="rsj iconfont videobtn" data-type="danmu">&#xe618;</button>
                    <button  class="rsj iconfont videobtn" data-type="voice">&#xe644;</button>
                    <button  class="rsj iconfont videobtn" data-type="download">&#xe6b0;</button>
                    <div class="rsj iconfont videobtn" data-type="line">
                        <div class="txp_label">线路1</div>
                        <div class="list-group">
                            <a href="javascript:void(0)" class="list-group-item">线路1</a>
                        </div>
                    </div>
                </div>
            </div>
            <video id="video" webkit-playsinline="true" src="http://www.runoob.com/try/demo_source/movie.mp4"></video>
        </div>
    </div>
    <div class="col-md-2">
        
    </div>
</div>	