<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Demo</title>   
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--你自己的样式文件 -->
        <link href="../css/main.css" rel="stylesheet">
        <link href="../css/iconfont.css" rel="stylesheet">        
    </head>
    <body>
        <div class='page'>
            <div class="head">
                    <a href="/" class="logo-a"><div class='logo'>读书网</div></a>
                    <div class="header-operate red">
                        <a id="aUserCenter" href="/user" class="icon icon-person jsLogin" title="个人设置" data-eid="mqd_A03">
                            <div class='iconfont'>&#xe60f;</div>
                        </a>
                        <a href="/bookshelf/my" class="icon icon-book" title="我的书架" data-eid="mqd_A05">
                            <div class='iconfont'>&#xe735;</div>
                        </a>
                    </div>
            </div>
            <div class="content">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    </ol>
                    <div class="carousel-inner">
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/loader.js"></script>
        <script src="../js/index.js"></script> 
    </body>
</html>