<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link href="../css/style.css" rel="stylesheet" type="text/css">

<title>聊天室</title>
<h2 style="text-align:center;">聊天室</h2>
</head>
<body>
<div id='person' class="dm" flag="false">
	<div class="tip">请设置name</div>
	<span>name:</span><span id="name"></span>
	<input type="text" id="name123" style="width: 80%;"/>
	<input type="submit" value="设置" onclick="set()">
</div>
<div class="room-chat-box">
	<div class="room-chat-container">
		<div class="room-chat-scroller">
			<ul class="list"></ul>
		</div>
	</div>
	<div class="room-chat-dispatch">
		<input type="text" id="msg" style="width: 80%;"/>
		<input type="submit" value="发送" onclick="submit()">
	</div>
</div>

</body>
<script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
<script src="../js/websocket.js"></script>
<script src="../js/chat.js"></script>
</html>