*{
    font-size: 16px;
    outline: none;
}
body{
    background: #f5f6f7;
    overflow: hidden;
}
a{
    outline: none;
    text-decoration: none;
    color: #8e959a;
    cursor: pointer;
}
li{
    list-style-type: none;
}