<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
       <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">
   </head>
   <body style="height: 100%; margin: 0">
    <table class="table table-bordered table-striped table-hover table-condensed" style="margin-top: 10px;">
        <thead>
        <tr>
            <th><input type="checkbox" name="invalidmac_id" value=""></th>
            <th>序号</th>
            <th>板卡厂商</th>
            <th>设备mac</th>
            <th>IP地址</th>
            <th>请求次数</th>
            <th>首次请求时间</th>
            <th>最后一次请求时间</th>
            <th>水印</th>
            <th>管理</th>
        </tr>
        </thead>
        <tbody>
            <tr data-id="305">
                <td><input type="checkbox" name="invalidmac_id[]" value="305"></td>
                <td>305</td>
                <td>Cultraview</td>
                <td>B8:3D:4E:7F:FA:30</td>
                <td>27.102.112.109</td>
                <td>14</td>
                <td>2018-12-24 16:52</td>
                <td>2018-12-24 17:38</td>
                <td>关</td>
                <td align="center">
                    <div class="tbRowButtons">
                        <button type="button" class="btn btn-success btn-xs" data-symbol="rowSwitchUseBtn" data-isuse="0" style="">
                            <i class="glyphicon glyphicon-eye-open"></i> 开/关
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" data-symbol="rowDelKeyBtn" style="">
                            <i class="glyphicon glyphicon-remove"></i> 删除
                        </button>
                    </div>
                </td>
            </tr>
            <tr data-id="304">
                <td><input type="checkbox" name="invalidmac_id[]" value="304"></td>
                <td>304</td>
                <td>Cultraview</td>
                <td>B8:3D:4E:7F:FA:30</td>
                <td>27.102.112.109</td>
                <td>14</td>
                <td>2018-12-24 16:50</td>
                <td>2018-12-24 17:38</td>
                <td>关</td>
                <td align="center">
                    <div class="tbRowButtons">
                        <button type="button" class="btn btn-success btn-xs" data-symbol="rowSwitchUseBtn" data-isuse="0" style="">
                            <i class="glyphicon glyphicon-eye-open"></i> 开/关
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" data-symbol="rowDelKeyBtn" style="">
                            <i class="glyphicon glyphicon-remove"></i> 删除
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
        </table>
        <div><input type="button" id="export" value="导出"></div>
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/json2csv.js"></script>
        <script type="text/javascript" src="../js/excleHelper.js"></script>
       <script type="text/javascript">
       var param={
            fieldsTarget:$("table thead th"),
            listTarget:$("table tbody tr"),
            filename:"test",
            export:{
                target:$("#export"),
            }
       };
       excleHelper.init(param);
       </script>
   </body>
</html>